<% if current_user.present? %>
  <%  gravatar_id = Digest::MD5::hexdigest(current_user.email).downcase

      url = "https://gravatar.com/avatar/#{gravatar_id}.png" %>
  <%= image_tag(url ) %>
  <%= current_user.email %><%= link_to(:sign_out,destroy_user_session_path,:method=>'delete') %>

<% else %>
  <%= link_to(:sign_up,new_user_registration_path) %>
<% end %>
<% @users.each do |user| %>
  <div><%= link_to "#{user.email}",chat_path(user.chat_room_id) %> <span class="is_online" id="<%= user.user_id %>"> o </span></div>
<% end%>
<div class="online_count">

</div>
