<!--<div>-->
<!--<%#= @user.email%> <span class="is_online" id="<%#= @user.user_id %>"> o </span>-->
<!--</div>-->
<!--<div class="messages">-->
<%#= render(:partial => 'message',:locals=>{chats: @chats}) %>
<!--</div>-->
<!--<div>-->
<%#= render(:partial=>'chat_form',:locals=>{chat: @chat}) %>
<!--</div>-->
<%= stylesheet_link_tag "/assets/chats.css", "/assets/select2.min" %>
<%= javascript_include_tag "select2.min", "chats" %>


<div class="container clearfix">
  <% if current_user.present? %>
    <%# gravatar_id = Digest::MD5::hexdigest(current_user.email).downcase

     url = "https://gravatar.com/avatar/#{gravatar_id}.png" %>
    <div align="right">
      <!--    <div>-->
      <%#= image_tag(url) %>
      <!--    </div>-->
      <div>
        <%= current_user.email %> <%= link_to(:sign_out, destroy_user_session_path, :method => 'delete') %>
      </div>

    </div>

  <% else %>
    <%= link_to(:sign_up, new_user_registration_path) %>
  <% end %>
  <div class="people-list" id="people-list">
    <div class="search">
      <%#= select_tag(:search_users, options_for_select(User.all.pluck(:user_name, :id)), {:multiple => true, :class => "search_users_select2"}) %>
<!--            <input type="text" placeholder="search" class=""/>-->
      <%= form_tag('/search_users',:method => "get",remote: true ,class: "search_user_form" ) do%>
      <%= text_field_tag(:term,'',class: "search_user_input",:autocomplete=>"off" ,:placeholder=>"Search user") %>
      <% end %>
      <i class="fa fa-search"></i>
    </div>
    <ul class="list users_list search_user_list hide_class">

    </ul>
    <ul class="list users_list default_user_list">

      <%= render(:partial => "chats/users_list", :locals => {users: @users}) %>
    </ul>
  </div>

  <div class="chat">
    <% if @user.present? %>
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>

        <div class="chat-about">
          <div class="chat-with">
            <%= @user.email %> <span class="is_online" id="<%= @user.user_id %>"> o </span>
          </div>
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
    <% end %>
    <% if params[:chat_room_id].to_i > 0 && @users.present? %>
      <div class="chat-history">
        <ul class="messages">
          <%= render(:partial => 'message', :locals => {chats: @chats, broadcast: false}) %>
        </ul>
      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">
        <%= render(:partial => 'chat_form', :locals => {chat: @chat}) %>

      </div> <!-- end chat-message -->
    <% else %>
      <div class="chat-history welcome">
        <span style="position:relative;">
          <h2 style="position: absolute;
              padding: 35%;">Welcome</h2>
        </span>
      </div>

  <% end %>
  </div> <!-- end chat -->

</div>










